.Logo{
    width: 100%;
}



body{

    
    background-color: rgb(185, 179, 179);
    /* margin-bottom: 20%;  */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      /* opacity: 0.5;
    filter: alpha(opacity=50); */
    
    
}
#table{
  margin-top:20%;
  width: 60%;
}

/* 
#customers {
  margin: auto;
  margin-top: 5%;
  width: 100%;
  margin-bottom: 5%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(92, 163, 204);
  color: white;
} */
/* 88888888 */

#camera--trigger{
    background-color: #FAC9B8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:40%;
    /* margin-bottom: 30%; */
}

#send--image{
    background-color: #C06E52; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 5px;
}

/* 888888 */
.card--body {
  float: left;
  width: 33.33%;
  padding: 5px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 40%;
 
}


#root{
    margin-top: 30%;
    text-align: center;
    
}
.title{
    margin: auto;
    color:white;
    z-index: inherit;
    font-size: 150px;
    font-family: 'Arial';
    border-style: solid;
    border-width: 5px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* .properties{
  content: "";
  clear: both;
  display: table;
} */

/* .card--body{
  float: left;
  width: 33.33%;
  padding: 5px;
} */

tr{
    z-index: -1;
    color:orange;
}
.photos {
    margin: auto;
    margin-top: 60%;
    width: 50%;
    height: 100px;
    padding: 20px;
    align-content: center;
}
h1{
    font-size:70px;
    margin:10%;
}